{% extends 'base.html' %} {% block content %}
<h1>Shopping Cart</h1>


<div class="container mt-5">
  <form action="{% url 'checkout' %}" method="POST">
    {% csrf_token %}
    {% for image in shopping_cart_images %}
      <img src="{{ image.thumb_url }}">

    <div class="form-group">
        <a href="{% url 'delete' image.id %}">
          Delete
        </a>
    </div>

    {% endfor %}
    <button type='submit' class="btn btn-primary">Purchase Images</button>
  </form>
</div>


{% endblock %}